{erl_opts, [debug_info]}.
{deps, []}.

{minimum_otp_vsn, "20.1"}.
{base_dir, "_build"}.
{deps_dir, "lib"}.
{root_dir, "."}.
{checkouts_dir, "_checkouts"}.
{plugins_dir, "plugins"}.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
    {platform_define, "(linux|freebsd)", 'BACKLOG', 128}
]}.
{validate_app_modules, true}.
{cover_enabled, true}.

{deps, []}.

{relx, [
    {release, {erldpc, "0.1.0"}, [
      erldpc
    ]},
    {dev_mode, true},
    {include_src, false},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]},
        {pre_hooks, [
          {"(linux|darwin|solaris|freebsd)", compile, "sh -c \"cd crates/erldpc && cargo build --release && cp target/release/liberldpc.so ../../priv/\""}
        ]}
    ]},

    {test, [
        {deps, [
            {perftest, ".*", {git, "https://github.com/Vonmo/perftest.git", {branch, "master"}}},
            {uuid, ".*", {git, "https://github.com/okeuday/uuid.git"}}
        ]},
        {erl_opts, [debug_info, warnings_as_errors, nowarn_export_all]},
        {relx, [{dev_mode, true}, {include_erts, false}, {include_src, false}]},
        {pre_hooks, [
          {"(linux|darwin|solaris|freebsd)", compile, "sh -c \"cd crates/erldpc && cargo build && cp target/debug/liberldpc.so ../../priv/\""}
        ]}
    ]},

    {lint,  [
      {plugins, [
        {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}
      ]}
    ]}
]}.

{plugins, [
    rebar3_auto,
    rebar3_run,
    rebar3_appup_plugin,
    rebar3_vendor
    % rebar3_proper
]}.
